* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}

body {
  background-color: hsl(216, 12%, 8%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.card {
  background-color: hsl(213, 19%, 18%);
  padding: 35px;
  border-radius: 30px;
  max-width: 400px;
  height: 430px;

  &--final {
    text-align: center;
    display: none;
  }
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: hsla(216, 12%, 54%, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  padding: 30px 0 15px 0;
  color: hsl(0, 0%, 100%);
}

.paragraph {
  color: hsl(217, 12%, 63%);
  line-height: 23px;
}

.rating {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.number {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  font-size: 15px;
  background-color: hsla(216, 12%, 54%, 0.2);
  color: hsl(217, 12%, 63%);
}

.number:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
  transition: 0.2s;
}

.number:focus {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.submit {
  font-family: "Overpass", sans-serif;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 14px;
  font-size: 15px;
  letter-spacing: 2px;
}

.submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  transition: 0.3s;
}

.illustration {
  padding: 8px 0 30px;
}

.final-result {
  background-color: hsla(216, 12%, 54%, 0.2);
  padding: 8px 10px;
  border-radius: 20px;
  margin: 0 60px;
  color: hsl(25, 97%, 53%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
.attribution a {
  color: hsl(25, 97%, 53%);
}
